.section {
  font-family: 'Homemade Apple';
  color: white;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

::selection {
  background: #ff5252;
}

.title {
  font-size: 6em;
  width: calc(50% - 54px);
  display: inline-block;
  border-radius: 5px 5px 0 0;
  text-align: left;
  margin-right: 54px;
}

.content {
  font-family: 'Indie Flower';
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 30px;
  width: 50%;
  padding: 0 3em;
}

.content > a {
  color: inherit;
}

.content > a:hover {
  color: #ef5777;
}

.grid-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 250px;
  grid-gap: 1em;
  text-align: center;
  margin-bottom: 50px;
}

img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.project-listing {
  position: relative;
  overflow: hidden;
}

.project-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(90, 90, 90, 0.4);

  /* typographic styles */
  font-family: 'Indie Flower';
  color: white;
  font-size: 30px;
  text-decoration: none;

  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;

  /* hide the title by default */
  opacity: 0;
  transition: opacity .5s;
  z-index: 1;
}

.project-listing:hover .project-title {
  opacity: 1;
}

.project-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.project-listing:hover .project-image img {
  filter: blur(2px);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1058px) {
  .title {
    line-height: 1.8em;
  }
}

#links {
	position: fixed;
  top: 50%;
	display: block;
	width: 50px;
	z-index: 9;
	text-align: center;
	color: white;
	left: 1%;
  font-size: 50px;
  transform: translateY(-50%);
  text-decoration: none;
}

#links > a {
  color: inherit;
}
